.container-fluid{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(228, 160, 97, 0.559);
}

#add-btn{
    position: absolute;
    left: 45%;
    background-color: rgb(251, 171, 10);
    padding: 5px 10px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}
input{
    position: absolute;
    right: 50px;
    width: 250px;
    border: 1px solid rgb(148, 111, 111);
    background-color: rgba(220, 208, 208, 0.963);
    border-radius: 5px;
}
.header{
    background-color: rgba(228, 160, 97, 0.559);
    width: 100%;
    padding: 50px;
    position: relative;
}
img{
    height: 150px;
}

h6{
    text-align: center;
    cursor:pointer
}
.product-card{
    margin-bottom: 10px;
    padding:20px;
    width: 200px;
    height: 380px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
}

#quantity{
    display: inline-block;
    border-radius: 50%;
    background-color: red;
    margin: 10px;
    padding: 3px;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 5px;
    left: 35px;
}

#stock {
    display: inline-block;
    padding: 5px;
    background-color: rgba(73, 73, 211, 0.869);
    color: white;
    width: 60px;
    border-radius: 5px;
    position: relative;

}
.card-footer{
    width: 200px;
    position: absolute;
    bottom: 10px;
    padding: 0px 10px;
}
#price{
    position:absolute;
    bottom: 60px;
}

#trash{
    position: absolute;
    color: black;
    left:150px;
    cursor: pointer;
}

#pen{
    position: absolute;
    color: black;
    left:120px;
    cursor: pointer;
}